html {
  position: relative;
  min-height: 100%;
}
body{
  padding-top: 60px;
  margin-bottom: 80px;
}
.idle-time{
  width: 5em !important;
}
.form-group{
	clear: both;
	float: left;
	padding-top: 5px;
}
.stacked{
  float: left;
  clear: both;
}
.container {
	width: 910px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  max-height: 70%;
  background: #020202;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
}
.footer p{
  color: white;
  font-weight: bold;
}
#footer-buttons{
  padding-bottom:10px;
}
.modifier-value{
  width: 5em !important;
}
.hidee{
  clear: both;
}
textarea.code-box{
  height: 250px;
}
pre.code-box{
  height: 250px;
}