html {
  position: relative;
  min-height: 100%;
}
body{
  padding-top: 60px;
  margin-bottom: 80px;
}
.idle-time{
  width: 5em !important;
}
.form-group{
	clear: both;
	float: left;
	padding-top: 5px;
}
.container {
	width: auto;
	min-width: 830px;
	max-width: 1080px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #020202;
  padding-top: 10px;
  z-index: 999;
}